*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
termodoro-*
Gemfile.lock
pkg
.ruby-version

# YARD artifacts
.yardoc
_yardoc
doc/
